USE [CPKiO]
GO
/****** Object:  Table [dbo].[Должности]    Script Date: 19.12.2022 6:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должности](
	[ID_Должности] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_должности] [nvarchar](255) NULL,
 CONSTRAINT [PK_Должности] PRIMARY KEY CLUSTERED 
(
	[ID_Должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 19.12.2022 6:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[ID_Заказа] [int] IDENTITY(1,1) NOT NULL,
	[Код_заказа] [nvarchar](255) NULL,
	[Дата_создания] [date] NULL,
	[Время_заказа] [time](4) NULL,
	[ID_Клиента] [int] NULL,
	[ID_Списка_услуг] [int] NULL,
	[ID_Статуса] [int] NULL,
	[Дата_закрытия] [date] NULL,
	[Время_проката_часов] [int] NULL,
	[Штрих_код] [nvarchar](255) NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[ID_Заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[История_входа]    Script Date: 19.12.2022 6:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[История_входа](
	[ID_Входа] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](255) NULL,
	[Время] [datetime] NULL,
	[Тип_входа] [nvarchar](255) NULL,
 CONSTRAINT [PK_История входа] PRIMARY KEY CLUSTERED 
(
	[ID_Входа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 19.12.2022 6:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ID_Клиента] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Серия_паспорта] [int] NULL,
	[Номер_паспорта] [int] NULL,
	[Дата_рождения] [date] NULL,
	[Адрес] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[ID_Клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 19.12.2022 6:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[ID_Сотрудника] [int] IDENTITY(1,1) NOT NULL,
	[ID_Должности] [int] NULL,
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Логин] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
	[Последний_вход] [datetime] NULL,
	[Тип_входа] [nvarchar](255) NULL,
	[Фото] [nvarchar](255) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[ID_Сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Список услуг]    Script Date: 19.12.2022 6:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Список услуг](
	[ID_Списка_услуг] [int] NOT NULL,
	[ID_Заказа] [int] NOT NULL,
	[ID_Услуги] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статусы]    Script Date: 19.12.2022 6:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статусы](
	[ID_Статуса] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_статуса] [nvarchar](255) NULL,
 CONSTRAINT [PK_Статусы] PRIMARY KEY CLUSTERED 
(
	[ID_Статуса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 19.12.2022 6:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[ID_Услуги] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_услуги] [nvarchar](255) NULL,
	[Код_услуги] [nvarchar](255) NULL,
	[Стоимость_руб_за_час] [int] NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[ID_Услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Должности] ON 

INSERT [dbo].[Должности] ([ID_Должности], [Наименование_должности]) VALUES (1, N'Продавец')
INSERT [dbo].[Должности] ([ID_Должности], [Наименование_должности]) VALUES (2, N'Администратор')
INSERT [dbo].[Должности] ([ID_Должности], [Наименование_должности]) VALUES (3, N'Старший смены')
SET IDENTITY_INSERT [dbo].[Должности] OFF
GO
SET IDENTITY_INSERT [dbo].[Заказы] ON 

INSERT [dbo].[Заказы] ([ID_Заказа], [Код_заказа], [Дата_создания], [Время_заказа], [ID_Клиента], [ID_Списка_услуг], [ID_Статуса], [Дата_закрытия], [Время_проката_часов], [Штрих_код]) VALUES (1, N'45462526/12.03.2022', CAST(N'2022-03-12' AS Date), CAST(N'09:10:00' AS Time), 45462526, 1, 1, NULL, 2, N'1120320229102960141')
INSERT [dbo].[Заказы] ([ID_Заказа], [Код_заказа], [Дата_создания], [Время_заказа], [ID_Клиента], [ID_Списка_услуг], [ID_Статуса], [Дата_закрытия], [Время_проката_часов], [Штрих_код]) VALUES (2, N'45462527/13.03.2022', CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, 2, 2, NULL, 10, N'213032022101010986207')
INSERT [dbo].[Заказы] ([ID_Заказа], [Код_заказа], [Дата_создания], [Время_заказа], [ID_Клиента], [ID_Списка_услуг], [ID_Статуса], [Дата_закрытия], [Время_проката_часов], [Штрих_код]) VALUES (3, N'45462528/14.03.2022', CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, 3, 2, NULL, 2, N'31403202211102348367')
SET IDENTITY_INSERT [dbo].[Заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[История_входа] ON 

INSERT [dbo].[История_входа] ([ID_Входа], [Логин], [Время], [Тип_входа]) VALUES (1, N'ivanov@namecomp.ru', CAST(N'2022-11-16T09:19:34.000' AS DateTime), N'Успешно')
INSERT [dbo].[История_входа] ([ID_Входа], [Логин], [Время], [Тип_входа]) VALUES (2, N'fedorov@namecomp.ru', CAST(N'2022-11-17T03:32:23.000' AS DateTime), N'Успешно')
INSERT [dbo].[История_входа] ([ID_Входа], [Логин], [Время], [Тип_входа]) VALUES (3, N'fedorov@namecomp.ru', CAST(N'2022-11-17T03:33:35.000' AS DateTime), N'Успешно')
GO
SET IDENTITY_INSERT [dbo].[История_входа] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([ID_Клиента], [Фамилия], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [Email], [Пароль]) VALUES (45462526, N'Фролов', N'Андрей', N'Иванович', 1180, 176596, CAST(N'2001-07-14' AS Date), N'344288, г. Екатеринбург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты] ([ID_Клиента], [Фамилия], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [Email], [Пароль]) VALUES (45462527, N'Николаев', N'Даниил', N'Всеволодович', 2280, 223523, CAST(N'2001-02-10' AS Date), N'614164, г. Екатеринбург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты] ([ID_Клиента], [Фамилия], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [Email], [Пароль]) VALUES (45462528, N'Снегирев', N'Макар', N'Иванович', 4560, 354155, CAST(N'1998-05-21' AS Date), N'394242, г. Екатеринбург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Сотрудники] ON 

INSERT [dbo].[Сотрудники] ([ID_Сотрудника], [ID_Должности], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Последний_вход], [Тип_входа], [Фото]) VALUES (101, 1, N'Иванов', N'Иван', N'Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', CAST(N'2022-12-19T05:59:01.000' AS DateTime), N'Успешно', N'Иванов.jpeg')
INSERT [dbo].[Сотрудники] ([ID_Сотрудника], [ID_Должности], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Последний_вход], [Тип_входа], [Фото]) VALUES (102, 1, N'Петров', N'Петр', N'Петрович', N'petrov@namecomp.ru', N'uzWC67', CAST(N'2022-12-19T05:59:01.000' AS DateTime), N'Успешно', N'Петров.jpeg')
INSERT [dbo].[Сотрудники] ([ID_Сотрудника], [ID_Должности], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Последний_вход], [Тип_входа], [Фото]) VALUES (103, 2, N'Федоров', N'Федор', N'Федорович', N'fedorov@namecomp.ru', N'8ntwUp', CAST(N'2022-12-19T05:59:01.000' AS DateTime), N'Успешно', N'Федоров.jpeg')
SET IDENTITY_INSERT [dbo].[Сотрудники] OFF
GO
INSERT [dbo].[Список услуг] ([ID_Списка_услуг], [ID_Заказа], [ID_Услуги]) VALUES (1, 1, 34)
INSERT [dbo].[Список услуг] ([ID_Списка_услуг], [ID_Заказа], [ID_Услуги]) VALUES (1, 1, 31)
INSERT [dbo].[Список услуг] ([ID_Списка_услуг], [ID_Заказа], [ID_Услуги]) VALUES (1, 1, 353)
GO
SET IDENTITY_INSERT [dbo].[Статусы] ON 

INSERT [dbo].[Статусы] ([ID_Статуса], [Наименование_статуса]) VALUES (1, N'Новая')
INSERT [dbo].[Статусы] ([ID_Статуса], [Наименование_статуса]) VALUES (2, N'В прокате')
INSERT [dbo].[Статусы] ([ID_Статуса], [Наименование_статуса]) VALUES (3, N'Закрыта')
SET IDENTITY_INSERT [dbo].[Статусы] OFF
GO
SET IDENTITY_INSERT [dbo].[Услуги] ON 

INSERT [dbo].[Услуги] ([ID_Услуги], [Наименование_услуги], [Код_услуги], [Стоимость_руб_за_час]) VALUES (31, N'Прокат опорного оборудования для катка', N'JUR8R', 500)
INSERT [dbo].[Услуги] ([ID_Услуги], [Наименование_услуги], [Код_услуги], [Стоимость_руб_за_час]) VALUES (34, N'Обучение катанию на коньках', N'JKFBJ09', 1000)
INSERT [dbo].[Услуги] ([ID_Услуги], [Наименование_услуги], [Код_услуги], [Стоимость_руб_за_час]) VALUES (44, N'Прокат салазок', N'DHBGFY563', 450)
SET IDENTITY_INSERT [dbo].[Услуги] OFF
GO
